@page "{id}"
@model DeleteModel
@{
    ViewData["Title"] = "Delete Book";
}

<h1>Delete Book <small class="text-muted">@Model.Title by @Model.Author</small></h1>
<p>Are you sure you want to delete book @Model.Title by @Model.Author?</p>
<div class="row">
    <div class="col-lg-12">
        @if (Model.ErrorMessages.Any())
        {
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                <div>
                    @foreach (var em in Model.ErrorMessages)
                    {
                        <text>@em</text>
                        <br />
                    }
                </div>
            </div>
        }
        <form method="post">
            <input type="hidden" asp-for="Title" />
            <input type="hidden" asp-for="Author" />
            <button type="submit" class="btn btn-danger">Delete</button>
            <a asp-page="./Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>

<partial name="_Symbols" />