@page "{id}"
@model EditModel
@{
    ViewData["Title"] = "Edit Person";
}

<h1>Edit Person <small class="text-muted">@Model.FirstName @Model.LastName</small></h1>

<div class="row">
    <div class="col-lg-12">
        @if (Model.ErrorMessages.Any())
        {
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                <div>
                    @foreach(var em in Model.ErrorMessages)
                    {
                        <text>@em</text><br/>
                    }                    
                </div>
            </div>
        }
        <form method="post">            
            <div class="mb-3">
                <label for="@Model.FirstName" class="form-label">First name</label>
                <input asp-for="FirstName" value="@Model.FirstName" class="form-control" required />                
            </div>
            <div class="mb-3">
                <label for="@Model.LastName" class="form-label">Last name</label>
                <input asp-for="LastName" value="@Model.LastName" class="form-control" required />
            </div>
            <div class="mb-3">
                <label for="@Model.DateOfBirth" class="form-label">Date of birth</label>
                <input asp-for="DateOfBirth" value="@Model.DateOfBirth" class="form-control" required />
            </div>
            <div class="mb-3">
                <label for="@Model.AvailableBooks" class="form-label">Available books - check the box to borrow</label>
                @if(Model.AvailableBooks.Any())
                {
                    @foreach (var b in Model.AvailableBooks)
                    {
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="@b.Id-borrow" />
                            <label for="@b.Title" class="form-check-label">@b.Title by @b.Author</label>
                        </div>
                    }
                }
                else
                {
                    <h6>Currently there are no available books.</h6>
                }
            </div>
            <div class="mb-3">
                <label for="@Model.BorrowedBooks" class="form-label">Borrowed books - uncheck the box to return</label>
                @if(Model.BorrowedBooks.Any())
                {
                    @foreach (var b in Model.BorrowedBooks)
                    {
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="@b.Id-borrowed" checked />
                            <label for="@b.Title" class="form-check-label">@b.Title by @b.Author</label>
                        </div>
                    }
                }
                else
                {
                    <h6>Currently there are no borrowed books.</h6>
                }
            </div>
            <button type="submit" class="btn btn-dark">Save</button>
            <a asp-page="./Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>

<partial name="_Symbols" />